* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 90px;
  background: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  gap: 5px;
}

.nav-item:hover {
  background-color: #85754d;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}

/* .nav-item.active {
  background: #6b46c1;
  padding: 10px;
  border-radius: 8px;
} */

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  min-height: 80px;
  background: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: x-large;
}

.logo-box {
  background-color:#4B2E83;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 80px;
}

.logo-img {
  width: 60px;
  height: 60px;
}

.content {
  flex: 1;
  background: #f4f4f4;
  padding: 40px;
}
