* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 120px;
  background: #1e1e1e;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

nav {
    display: flex;
    flex-direction: column;
}

.nav-item {
  margin: 20px 0;
}

.nav-item.active {
  background: #6b46c1;
  padding: 10px;
  border-radius: 8px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  height: 80px;
  background: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: x-large;
}

.logo {
    background-color: #6b46c1;
}

.content {
  flex: 1;
  background: #f4f4f4;
  padding: 40px;
}